.message {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.message.success {
  color: green;
}

.message.info {
  color: blue;
}

.message.warn {
  color: yellow;
}

.message.error {
  color: red;
}